# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
logs/
*.log
pip-log.txt
pip-delete-this-arg.txt

# Airflow
# Airflow-specific logs and data
logs/
config/
dags/data/
dags/temp/
*.airflowignore # If you're using .airflowignore for DAG filtering
# Example: If you have a specific folder for temporary files within dags
dags/temp_files/

# dbt
# dbt-generated artifacts
target/
dbt_packages/
logs/
.dbtignore # If you're using .dbtignore for dbt-specific file ignoring
# Example: If you have a specific folder for temporary files within dbt
data_temp/

# IDE-specific files (common examples)
.idea/
.vscode/
*.swp
*.bak
*.swo
*.DS_Store

# Metabase
plugins/